Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-avoid-const-params-in-decls,
  readability-braces-around-statements,
  readability-else-after-return,
  readability-redundant-declaration,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -clang-analyzer-security.insecureAPI.*

WarningsAsErrors: ''
HeaderFilterRegex: 'include/qlite\.h|test/.*\.test\.h'
FormatStyle: none
